[Unit]
Description=R710 fan controller

[Service]
ExecStart=/usr/local/libexec/r710_fan_controller.sh
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
